<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        vcode
    </title>
</head>
<body>
    <div id="root"></div>
<script type="text/javascript" src="/asset/react/react.79cc5d1e9e0f9c3e0413.js" defer></script><script type="text/javascript" src="/asset/vcode/vcode.e8143042ad2e177798bc.js" defer></script></body>
</html>
